.about-container{
  margin-top: 5vw;
}

.description {
  order: 1;
  margin: 5%;
  line-height: 1.6;
}

.text-container {
  width: 65%;
  margin-left: 0;
}

.alissandra-img{
  width: 18%;
  order: 2;
  border-radius: 5%;
  z-index: 0;
  position: absolute;
  margin-top: -2%;
  margin-left: 72%;
}

.moldura {
  width: 35%;
  position: absolute;
  z-index: 1;
  margin-left: 63%;
  margin-top: -8%;
}

.h1-about{
  margin: 3%;
  width: 65%;
}

.my-languages {
  border: solid 3px #7451AA;;
  border-radius: 20px;
  width: 60%;
  margin-left: 3%;
  padding: 2%;
  margin-bottom: 4%;
  flex-wrap: wrap;
}

.container-icons-languages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4%;
  padding: 2%;
}

.languages-icons {
  width: 1%;
}

.react-icons {
  width: 7%;
}

.jest-icon {
  width: 6%;
}

.medium-icon {
  width: 7.2%;
}

.mysql-icon {
  width: 6%;
}

@media screen and (max-width: 768px) {
  .about-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .description {
    width: 100%;
  }

  .my-languages{
    flex-direction: column;
    width: 80%;
  }

  .container-icons-languages{
    /* flex-direction: column; */
    margin-top: 5%;
    height: 40%;
    flex-wrap: wrap;
  }

  .languages-icons{
    width: 0.5%;
  }

  .react-icons {
    width: 18%;
  }
  
  .jest-icon {
    width: 15%;
  }
  
  .medium-icon {
    width: 17%;
  }
  
  .mysql-icon {
    width: 35%;
  }

  .moldura{
    position: relative;
    width: 0%;
  }

  .alissandra-img{
    width: 40%;
    position: relative;
    margin-left: 35%;
    margin-top: 5%;
  }
}