.about-container{
  margin-top: 5vw;
}
.description {
  order: 1;
  margin: 5%;
  line-height: 1.6;
}

.text-container {
  width: 65%;
  margin-left: 0;
}

.alissandra-img{
  width: 18%;
  order: 2;
  border-radius: 5%;
  z-index: 0;
  position: absolute;
  margin-top: -2%;
  margin-left: 72%;
}

.moldura {
  width: 35%;
  position: absolute;
  z-index: 1;
  margin-left: 63%;
  margin-top: -8%;
}

.h1-about{
  margin: 3%;
  width: 65%;
}

.my-languages {
  border: solid 3px #7451AA;;
  border-radius: 20px;
  width: 90%;
  margin-left: 10%;
  padding: 2%;
  margin-bottom: 4%;
}

.container-icons-languages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4%;
  padding: 2%;
}

.languages-icons {
  width: 2%;
}

.react-icons {
  width: 6%;
}

.jest-icon {
  width: 5%;
}

.medium-icon {
  width: 6.2%;
}

.mysql-icon {
  width: 7%;
}