.about-container{
  margin-top: 5vw;
}
.description {
  order: 1;
  margin: 50px;
  line-height: 1.6;
}

.text-container {
  width: 65%;
  margin-left: 5px;
}

.alissandra-img{
 width: 150px;
 height: 150px;
 order: 2;
 border-radius: 5px;
 z-index: 0;
 position: absolute;
 margin-top: 80px;
 margin-left: 990px;
}

.moldura {
  width: 400px;
  position: absolute;
  z-index: 1;
  margin-left: 870px;
}

.h1-about{
  margin: 40px;
  width: 65%;
}

.my-languages {
  border: solid 3px #7451AA;;
  border-radius: 20px;
  width: 800px;
  margin-left: 42px;
  padding: 10px;
  margin-bottom: 40px;
}

.container-icons-languages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding: 10px;
}

.languages-icons {
  width: 5px;
  height: 5px;
}

.react-icons {
  width: 45px;
}

.jest-icon {
  width: 35px;
  height: 35px;
}

.medium-icon {
  width: 50px;
}

.mysql-icon {
  width: 75px;
}