@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,700;1,100&display=swap');

body {
    background-color: #22272e;
    color: #DFDDD0;
}

.container-divs {
  display: flex;
}

.title {
  margin-top: 200px;
  font-family: 'Montserrat', sans-serif;
}

.first-div {
  height: 92vh;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 0;
}

.img-div {
  /* border: 5px solid slateblue; */
  height: 30vw;
  position: absolute;
  z-index: 4;
  left: 30vw;
  top: 2vw;
}

img {
  width: 500px;
}

.second-div {
  background-color: #363141;
  height: 92vh;
  width: 50%;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  position: absolute;
  z-index: 3;
  margin-right: 0;
  left: 50vw;
}

.avatar {
  width: 600px;
  margin-top: 50px;
}

footer {
  display: flex;
  margin-left: 80px;
}

.menu {
  position: absolute;
  z-index: 1;
  width: 10%;
}