/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,700;1,100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,700;1,100&display=swap');
body {
    background-color: #22272e;
    color: #DFDDD0;
}

.container-divs {
  width: 100%;
  display: flex;
}

.title {
  color: white;
  margin-top: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 3vw;
}

.title span {
  color: #7451AA;
}

.first-div {
  height: 92vh;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 0;
}

.img-div {
  height: 30vw;
  position: absolute;
  z-index: 4;
  left: 40vw;
  top: 2vw;
  /* width: 50%; */
}

.second-div {
  height: 92vh;
  width: 50%;
  clip-path: circle(71.4% at 74% 61%);
  position: absolute;
  z-index: 3;
  margin-right: 0;
  left: 50vw;
  opacity: 0.2;
  background-image: url('../images/binario.jpg');
}

.img-binario {
  height: 70%;
}

.avatar {
  width: 560px;
  margin-top: 50px;
}

.menu {
  position: absolute;
  z-index: 1;
  width: 10%;
}