.container-projects {
  display: flex;
  justify-content: space-around;

}

.container-empty {
 width: 19%;
}

.projects-choice {
  text-decoration: none;
  float: right;
  margin-top: 15px;
  border-radius: 5px;
  padding: 2px;
  font-size: 17px;
  font-weight: 600;
}

.bigger-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 65vh;
  height: 85vh;
}

.projects-choice {
  color: #DFDDD0;
  text-decoration: none;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 5px;
  padding: 2px;
  font-size: 30px;
  font-weight: 600;
}

.projects-choice:hover {
  background-color: #40335C;
  transition: .5s;
}

.link-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
}

.engrenagem {
  width: 200px;
  margin-bottom: 300px;
}
